<h1>Chats#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<ul>
  <% @users.each do |user| %>
    <% if current_user != user # 自分以外のユーザー %>
      <li>
        <%= link_to"#{user.email}とチャットする", chat_path(user.id) %>
      </li>
    <% end %>
  <% end %>
</ul>